main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.top-contain {
  padding: 2rem 1rem;
  height: 100%;
  .future-specs {
    margin-top: 2rem;
    .chart {
      background-image: url("/images/illustration-editor-mobile.svg");
      height: 21rem;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 2rem;
    }
    .spec {
      padding: 1rem 1.25rem;
      h1 {
        padding: 0 2rem;
        margin-bottom: 1rem;
      }
      p {
        line-height: 1.5rem;
      }
    }
  }
}
.mid-contain {
  height: 100%;
  position: relative;
  margin-top: 15rem;
  .mobile {
    position: absolute;
    background-image: url("/images/illustration-phones.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
    right: 0;
    left: 0;
    top: -14rem;
    z-index: 5;
  }
  .state-info {
    padding: 14rem 2rem 6rem;
    background-image: $bgGrade;
    position: relative;
    z-index: 2;
    border-radius: 0 5rem 0 5rem;
    .circles {
      background-image: url("/images/bg-pattern-circles.svg");
      height: 25rem;
      position: absolute;
      background-size: 150%;
      background-position: -6.75rem -13.75rem;
      background-repeat: no-repeat;
      right: 0;
      left: 0;
      top: 0;
      z-index: -1;
      border-radius: 0 5rem 0 0;
    }
    h1 {
      font-size: 2rem;
      color: $base;
    }
    p {
      margin-top: 1rem;
      color: $base;
      line-height: 1.5rem;
    }
  }
}
.bot-contain {
  padding: 2rem 1rem;
  height: 100%;
  margin-top: 2rem;
  .laptop {
    background-image: url("/images/illustration-laptop-mobile.svg");
    height: 21rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem;
  }
  .lap-specs {
    margin: 1rem 0;
    padding: 0 2.325rem;
    .spec {
      h1 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 2rem;
        line-height: 1.5rem;
      }
    }
  }
}
