// Primary Colors
$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);
// Secondary Colors
$base: hsl(0, 0%, 100%);
$grayishBlue: hsl(240, 2%, 79%);
$veryDarkGrayBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);
// Gradients
$introGrade: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$bgGrade: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
